.main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5rem 0;
  line-height: 4rem;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.blog_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}

.textarea {
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  width: 85%;
  height: auto;
  font-weight: normal;
  resize: none;
}

.publish_btn {
  height: 2.5rem;
  width: 10rem;
  border-radius: 7px;
  background-color: green;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.error {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 1rem;
  margin-right: 10%;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
}
